.forborder {
	border: 1pt solid #333333;
	background-color: #FFFFFF;
	word-spacing: normal;
}
.vertical {
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #999999;
	border-right-color: #CCCCCC;
	border-bottom-color: #999999;
	border-left-color: #999999;
	border-top-width: 1mm;
	border-right-width: 1px;
	border-bottom-width: 1mm;
	border-left-width: 1px;
}
.allround {
	border: 1px ridge #CCCCCC;
}
.borderfortable {
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-left-color: #000099;
}
BODY {
	SCROLLBAR-FACE-COLOR: #495e83; SCROLLBAR-HIGHLIGHT-COLOR: #e0e0d8; SCROLLBAR-3DLIGHT-COLOR: #e0e0d8; SCROLLBAR-ARROW-COLOR: #e0e0d8; SCROLLBAR-TRACK-COLOR: #e0e0d8; SCROLLBAR-DARKSHADOW-COLOR: #e0e0d8
}