body {margin-left: 0px;margin-top: 0px;margin-right: 0px;margin-bottom: 0px;	background-color:#ffffff}.title { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; 
 bold; color: #28527B} .bullet { 
list-style-type: square; list-style-image: url(images/bullet.gif); text-decoration: none; line-height: 16px} .text { font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 11px; line-height: 18px; color: #000000}  a {font-family: Verdana, Arial, Helvetica, sans-serif; color: #336699} a:hover {color:#6699CC} .subtitle { font-family: Verdana, 
Arial, Helvetica, sans-serif; font-size: 11px; color: #6699CC; font-weight: bold; 
text-decoration: none} .links { font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; text-decoration: 
none; font-weight: bold} .links:hover { color: #00FF00; font-size: 12px}
.footer { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8px; color: #FFFFFF; text-decoration: none}
.footer:hover { color: #CCCCCC}

BODY {
	SCROLLBAR-FACE-COLOR: #495e83; SCROLLBAR-HIGHLIGHT-COLOR: #e0e0d8; SCROLLBAR-3DLIGHT-COLOR: #e0e0d8; SCROLLBAR-ARROW-COLOR: #e0e0d8; SCROLLBAR-TRACK-COLOR: #e0e0d8; SCROLLBAR-DARKSHADOW-COLOR: #e0e0d8
}